page-conect {
    p {
        margin-top: 10px
    }
    font-size: 1.5em;
    .inp {
        border-bottom: 1px solid white;
    }
    input{
        text-align: center;
    }
    .content-md {
        color: white;
    }
    .content-ios {
        color: white;
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.65) !important;
        text-align: center;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.65) !important;
        text-align: center;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.65) !important;
        text-align: center;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.65) !important;
        text-align: center;
    }
}
